<h1><%= "#{@song.artist.name} - " + "#{@song.name}" %></h1>

<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/<%= YoutubeSearch.search("#{@song.artist.name}" "#{@song.name}").first["id"].split("/").last %>" allowfullscreen frameborder="0">
</iframe>
