<div class="container">
    <h1>Confirm Drop?:</h1>
    <h1><%= @song.artist.name + " - " + @song.name %></h1>
  </br>
    <button class="btn btn-large btn-danger"><a href="/drop/songs/<%=@song.name.gsub(" ","_")%>">Drop<a/></button>
    <button class="btn btn-large"><a href="/songs">Cancel</a></button>
</div>