<div class="container">
<h1>All Artists > </h1>
</br>

<div class="alignrightcontents">
<% @artists.each do |artist| %>
  <button class="btn btn-large"><a href="/artists/<%=artist.name.gsub(" ","_")%>"><%= artist.name %><a/></button>
<% end %>
</div>
</div>
